<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Show Contact</title>
</head>
<body>

	<section>
		<!-- <h1>This is show contact Page</h1>  -->
		<div class="card mr-3 ml-3" >
			<div class="card-body">
				<h1 class="text-center">Your Contacts</h1>
				
				<table class="table">
  <thead>
    <tr>
      <th scope="col">#Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="c : ${contacts}">
      <th scope="row" th:text="${'SCM2023'+c.cId}">1</th>
      <td th:text="${c.name}"></td>
      <td th:text="${c.email}"></td>
      <td th:text="${c.phone}"></td>
      <td>
      	<button class="btn btn-danger btn-sm">Delete</button>
      	<button class="btn btn-primary btn-sm">Update</button>
      
      </td> 
    </tr>
  </tbody>
</table>

	<!-- Pagination Part --> 

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li th:if="${currentPage != 0 }" class="page-item"><a th:href="@{'/user/showcontacts/'+ ${currentPage-1}}" class="page-link" href="#">Previous</a></li>
    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/showcontacts/'+ ${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/showcontacts/'+ ${currentPage+1}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>

			</div>
		</div>

		<!--  
        <h1>Welcome !! you are normal user</h1>
    	<h1>UserName : <span th:text="${user.name}"></span></h1>
    	<h1>Email : <span th:text="${user.email}"></span></h1>
    	<h1><a href="" th:href="@{/logout}">Logout</a></h1>
    	
    	-->
	</section>
</body>
</html>