<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is forgot-password Page</title>
</head>
<body>

    <section>
    
        <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:230px" class="col-md-12">
                    
                    <!-- Contact saved successfully Msg  -->
			<div th:if="${session.message}" class="container">
				<div  class="alert alert-danger my-2 text-center" role="alert">
 				 <span th:text="${session.message}"></span>
				</div>
				<th:block th:text="${#session.removeAttribute('message')}"></th:block>
			</div>
			
                    
                    <h3 class="mt-2 text-center">Your Registered Email</h3>
                       <form th:action="@{/send-otp}" method="post">
                       
                       <div class="form-group mt-3">
                       <input name="email" required="required"  class="form-control" type="email" placeholder="Enter your email">
                       
                       </div>
                       
                        <div class="container text-center">
     					  <button type="submit" class="btn btn-success">Send Otp</button>
                       </div>
                       
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
</html>