<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is Home Page</title>
</head>
<body>

    <section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 font-weight-bold>Smart Contact Manager</h1>
        <p>Start Collecting your contact in very smarter way. We provide very efficient and smarter way of handling contact</p>
        <button class="btn bg-primary btn-lg">Get Start</button>
    </div>
    </section>
</body>
</html>