<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is verify-otp Page</title>
</head>
<body>

    <section>
    
        <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height:230px" class="col-md-12">
                    
                   <div class="alert alert-success mt-3" role="alert">
  OTP has been send successfully to your Email ...
</div>
                       <form method="post" th:action="@{/verify-otp}" >
                       
                       <div class="form-group mt-3">
                       <input name="otp" required="required"  class="form-control" type="email" placeholder="Enter your otp">
                       
                       </div>
                       
                        <div class="container text-center">
     					  <button type="submit" class="btn btn-success">Verify</button>
                       </div>
                       
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
</html>